extends layout

block content
  #welcome
    h1= title
    p Welcome to #{title}!

    p Possibly here we could talk about the health and wellness benefits of playing harmless little games like Tic Tac Toe.

  #game
    h3 Let's see...
    a(href="/game") Let's play! 
  
  #notes
    h5 How are you guys doing?
    p Still with me?

    h5 Let's see... What else, what else...
    p Hmmmmmm
